{% extends "group/read_page_primary_hierarchy.html" %}
{% set group = c.group_dict %}

{% block pre_primary %}
  {{ super() }}
{% endblock %}

{% block primary_content_inner %}
  {% if group.groups|length > 0 %}
    {% block group_extras %}

      {% set collections = h.get_topic_collections(group.name) %}

      {% snippet 'group/snippets/additional_info.html', extras = h.sorted_extras(c.group_dict.extras), name=c.group_dict.name, collections=collections %}

    {% endblock %}
  {% endif %}
{% endblock %}