{% extends "group/read_page_primary_hierarchy.html" %}
{% set group = c.group_dict %}

{% block pre_primary %}
  {{ super() }}
{% endblock %}

{% block primary_content_inner %}
  <h3 class="topic-collections-title"><i class="fa fa-arrow-circle-o-down"></i> Output data of the Pilot: </h3>
  {% block packages_list %}
    {% if c.page.items.count > 0 %}
      {{ h.snippet('group/snippets/output_data_list.html', packages=c.page.items) }}
    {% else %}
      <section id="dataset-resources" class="resources">
        <p>The pilot application is yet to catalog its output in the NextGEOSS Datahub</p>
      </section>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
{% endblock %}
