{% extends "group/read_base_primary.html" %}

{% block subtitle %}{{ c.group_dict.display_name }} - {{ _('Thematic Areas') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Thematic Areas'), controller='group', action='index' %}</li>
  <li class="active">{% link_for c.group_dict.display_name|truncate(35), controller='group', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block content_action %}
{% if h.check_access('group_update', {'id': c.group_dict.id}) %}
{% link_for _('Manage'), controller='group', action='edit', id=c.group_dict.name, class_='btn btn-default btn-right', style='float:right', icon='wrench' %}
{% endif %}
{% endblock %}


{% block pre_primary %}
  {% if group.groups|length > 0 %}
    {% snippet 'group/snippets/group_child.html', group = c.group_dict, name=c.group_dict.name %}
  {% else %}
    {% snippet 'group/snippets/group_parent.html', group = c.group_dict, name=c.group_dict.name %}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if group.groups|length > 0 %}
    {{ super() }}
  {% else %}
    {% set children = h.get_children_names(group.name) %}
    {% set children_count = children|length %}
    {% set collections = h.get_topic_collections(group.name) %}
    {% set collections_count = collections|length %}


    <section id="dataset-resources" class="resources">
      <h3><i class="fa fa-hashtag"></i> <b>{{ _('The Data Collections') }}</b></h3>

      {% if collections_count > 0 %}
        <div class="topic-list">
          <ul class="media-grid masonry" style="position: relative">
            {% for col in collections %}
                <li class="media-item">
                  {{ col['name'] }}

                  {% set collection_name = col.name.replace(' ', ('+')) %}

                  <a href="/dataset?collection_name={{ collection_name }}" class="media-view">
                  </a>
                </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <h4>No collections from NextGEOSS DataHub are currently associated with this thematic area.</h4>
      {% endif %}
    </section>

    {%- if children_count > 0 -%}
      {% block groups_list %}
          {% snippet "group/snippets/children_group_list.html", group=group.name %}
      {% endblock %}
    {%- else -%}
      <section id="dataset-resources" class="resources">
        <h3><i class="fa fa-hashtag"></i><b> {{ _('NextGEOSS Pilots') }}</b></h3>
        <h4>Pilot applications are coming soon</h4>
      </section>
    {% endif %}
  {% endif %}
{% endblock %}


{% block content_primary_nav %}
  {% if c.group_dict.groups|length > 0 %}
    {{ h.build_nav_icon('topic_about', _('Metadata'), id=c.group_dict.name) }}

    {% set collection_count = h.get_topic_collections(c.group_dict['name'])|length %}
    {% if h.is_internal(group) %}
      {{ h.build_nav_icon('topic_read', _('Data Collections'), id=c.group_dict.name) }}
    {% endif %}
    {% if h.is_external(group) and collection_count > 0 %}
      {{ h.build_nav_icon('topic_read', _('Data Collections'), id=c.group_dict.name) }}
    {% endif %}

    {% if h.is_internal(group) %}
      {{ h.build_nav_icon('topic_output', _('Output data'), id=c.group_dict.name) }}
    {% endif %}
    {% if h.is_external(group) %}
      {{ h.build_nav_icon('topic_output', _('Output data'), id=c.group_dict.name) }}
    {% endif %}
    {# Activity section available only for users that can create #}
    {% if h.check_access('package_create', {'owner_org': c.group_dict.id}) %}
      {{ h.build_nav_icon('topic_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
    {% endif %}
  {% endif %}
{% endblock %}