{% extends "group/read_page_primary_hierarchy.html" %}
{% set group = c.group_dict %}
{% block pre_primary %}
  {{ super() }}
{% endblock %}


{% block primary_content_inner %}
  {% block packages_list %}
    {% set collections = h.get_topic_collections(group.name) %}
    {% if collections|length > 0 %}
      {{ h.snippet('group/snippets/collections_list.html', collections=collections) }}
    {% else %}
      {% if h.is_internal(group) %}
        <section id="dataset-resources" class="resources">
          {% if group.display_name == "Energy - Constructing Gridded Data for Grid Operations" %}
              <p>This pilot is not using the Data Discovery service from NextGEOSS DataHub</p>
          {% else %}
              <p>The pilot is yet to configure the Data Discovery service from the NextGEOSS DataHub</p>
          {% endif %}
        </section>
      {% endif %}
    {% endif %}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
{% endblock %}