{% extends "group/read_base_primary.html" %}

{% set group = c.group_dict %}

{% block content_primary_nav %}
  {% if c.group_dict.groups|length > 0 %}
    {{ h.build_nav_icon('topic_about', _('Metadata'), id=c.group_dict.name) }}

    {% set collection_count = h.get_topic_collections(c.group_dict['name'])|length %}
    {% if h.is_internal(group) %}
      {{ h.build_nav_icon('topic_read', _('Data Collections'), id=c.group_dict.name) }}
    {% endif %}
    {% if h.is_external(group) and collection_count > 0 %}
      {{ h.build_nav_icon('topic_read', _('Data Collections'), id=c.group_dict.name) }}
    {% endif %}

    {% set output_datasets = h.get_output_datasets(group) %}
    {% if output_datasets|length > 0 %}
      {{ h.build_nav_icon('topic_output', _('Output data'), id=c.group_dict.name) }}
    {% endif %}
    {# Activity section available only for users that can create #}
    {% if h.check_access('package_create', {'owner_org': c.group_dict.id}) %}
      {{ h.build_nav_icon('topic_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block pre_primary %}
  {{ super() }}
{% endblock %}

{% block primary_content_inner %}
  <h3 class="topic-collections-title"><i class="fa fa-info-circle"></i> Data Collections used by Pilot: </h3>

  {% block packages_list %}
    {% set collections = h.get_topic_collections(group.name) %}
    {% if collections|length > 0 %}
      {{ h.snippet('group/snippets/collections_list.html', collections=collections) }}
    {% else %}
      {% if h.is_internal(group) %}
        <section id="dataset-resources" class="resources">
          <p>The pilot is yet to configure the Data Discovery service from the NextGEOSS DataHub</p>
        </section>
      {% endif %}
    {% endif %}
  {% endblock %}

{% endblock %}

{% block secondary_content %}
{% endblock %}