{#
Display a grid of group items.

groups - A list of groups.

Example:

    {% snippet "group/snippets/group_list.html" %}

#}
{% block group_list %}
	{% block group_list_inner %}
		{% set groups = h.get_children_names(group) %}
		{% set internal_topics = h.get_topic_type_internal(groups) %}
		{% set external_topics = h.get_topic_type_external(groups) %}

		{% if internal_topics | length > 0 %}
			<section id="dataset-resources" class="resources">
				<h3><i class="fa fa-hashtag"></i> <b>{{ _('NextGEOSS Pilots') }}</b></h3>

				<div class="topic-list">
					<ul class="media-grid masonry" style="position: relative">
						{% for group in internal_topics %}
							{% set group_dict = h.get_group_show(group.id) %}
							{% snippet "group/snippets/children_group_item.html", group=group_dict, position=loop.index %}
						{% endfor %}
					</ul>
				</div>
			</section>
		{% endif %}

		{% if external_topics | length > 0 %}
			<section id="dataset-resources" class="resources">
				<h3><i class="fa fa-hashtag"></i> <b>{{ _('External Services

') }}</b></h3>

				<div class="topic-list">
					<ul class="media-grid masonry" style="position: relative">
						{% for group in external_topics %}
							{% set group_dict = h.get_group_show(group.id) %}
							{% snippet "group/snippets/children_group_item.html", group=group_dict, position=loop.index %}
						{% endfor %}
					</ul>
				</div>
			</section>
		{% endif %}
	{% endblock %}
{% endblock %}