  <div class="container single-column group-org-header" xmlns="http://www.w3.org/1999/html">
    <div class="module-content">
      <div class="dataset-detail-org-logo">
        <div class="image">
          <a href="{{ group_url }}">
            <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" height= "100" width="100" alt="{{ c.group.title }}" />
          </a>
        </div>
      </div>

      <h1 class="page-heading">{% block page_heading %}{{ group.title }}{% endblock %}</h1>
      <h4>{{ group.description }}</h4>
    </div>
  </div>

