{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block page_primary_action %}
        {% if h.check_access('group_create') %}
          {% link_for _('Add Thematic Area'), controller='group', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
        {% endif %}
      {% endblock %}

      <div class="dataset-detail-org-logo">
        <div class="image">
          <a href="{{ group_url }}">
            <img src="{{ group.image_display_url or h.url_for_static('/public/logo.png') }}" height= "100" width="100" alt="{{ c.group.title }}" />
          </a>
        </div>
      </div>

      <h1 class="page-heading">{% block page_heading %}{{ group.title }}{% endblock %}</h1>
      <h4>{{ group.description }}</h4>

      {% set children = h.get_children_names(group.name) %}
      {% set children_count = children|length %}
      {% set collections = h.get_topic_collections(group.name) %}

      <section id="dataset-resources" class="resources">
        <h3><i class="fa fa-hashtag"></i> <b>{{ _('The Data Collections') }}</b></h3>

        <div class="topic-list">
          <ul class="media-grid masonry" style="position: relative">
            {% for col in collections %}
                <li class="media-item">
                  {{ col['name'] }}

                  {% set collection_name = col.name.replace(' ', ('+')) %}

                  <a href="/dataset?collection_name={{ collection_name }}" class="media-view">
                  </a>
                </li>
            {% endfor %}
          </ul>
        </div>
      </section>

      {%- if children_count > 0 -%}
        {% block groups_list %}
            {% snippet "group/snippets/children_group_list.html", group=group.name %}
        {% endblock %}
      {%- else -%}
        <section id="dataset-resources" class="resources">
          <hr style="border-top: 1px solid black">
          <h4>Pilot applications are coming soon</h4>
        </section>
      {% endif %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}